<div class="col-md-12">
  <h2>{{title}}</h2>

  <div class="alert alert-warning" *ngIf="status=='reject'">
    Acceso denegado, verifique sus credenciales por favor!!!
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">
     <p>
       <label for="email">Email</label>
       <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required />
       <span *ngIf="!email.valid && email.touched" class="alert alert-warning">
         El email no es valido
       </span>
     </p>

     <p>
       <label for="password">Contraseña</label>
       <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required />
       <span *ngIf="!password.valid && password.touched" class="alert alert-warning">
         La Contraseña no es valida
       </span>
     </p>

     <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">
       Ingresar
     </button>
  </form>

</div>
